<!DOCTYPE html>
<html>
<head>
  <title>Flippable</title>
  <%= stylesheet_link_tag    "flippable/application" %>
  <%= javascript_include_tag "flippable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
